<%= form_for ([@forum, @post, @comment]) do |form| %>
<!--
collection.build(attributes = {}, …) Returns one or more new objects of the collection type that have been instantiated with attributes and linked to this object through a foreign key, but have not yet been saved. Note: This only works if an associated object already exists, not if it‘s nil!
-->


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :comment_name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :comment_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>