<div class="well col-xs-8 col-xs-offset-2">
	<hr>
		<strong><%= @comment.name %></strong>
		<%= simple_format(@comment.comment) %>
	<div class="post-actions">
		<% if (@user != nil) and @user.has_role? :admin%>
			<%= link_to 'Edit', edit_forum_post_comment_path(@forum, @post, @comment), class: "btn btn-xs btn-primary" %>
			<%= link_to 'Back', forum_posts_path, class: "btn btn-xs btn-primary" %>
		<% end %>
	</div>
</div>


<%= link_to 'Edit', edit_forum_post_comment_path(@forum, @post, @comment) %> |
<%= link_to 'Back', [@forum, @post] %>
